<html>
  <body>
    <input type="range" id="channel1" name="channel1" min="-50" max="50">
    <label for="channel1">Rudder</label>
    <input type="range" id="channel2" name="channel2" min="-50" max="50">
    <label for="channel1">Throttle</label>
    <div id="outputdiv"></div>
  </body>
  <script>
    var output = document.getElementById("outputdiv");

    var channel1 = 0;
    var channel2 = 0;

    console.log('test');
    console.log(document.getElementById('channel1'));
    onRangeChange(document.getElementById('channel1'), handleChannel1);
    onRangeChange(document.getElementById('channel2'), handleChannel2);
    finishRequest();

    function sendToFlask()
    {
        const xhr = new XMLHttpRequest();
        const data = new FormData();

        data.append("rudder", channel1);
        data.append("throttle", channel2);

        xhr.open("POST", "moveservos");
        xhr.send(data);
        output.innerHTML= "Channel 1: " + channel1 + "<br>Channel 2: " + channel2;
    }

    function handleChannel1(event) {
      channel1 = event.target.value;
    }

    function handleChannel2(event) {
      channel2 = event.target.value;
    }

    function finishRequest()
    {
      setInterval(sendToFlask, 250);
    }

    //https://stackoverflow.com/questions/18544890/onchange-event-on-input-type-range-is-not-triggering-in-firefox-while-dragging
    function onRangeChange(r,f) {
      var n,c,m;
      r.addEventListener("input",function(e){n=1;c=e.target.value;if(c!=m)f(e);m=c;});
      r.addEventListener("change",function(e){if(!n)f(e);});
    }
  </script>
</html>
