<html>
  <head>
    <style>
      input[type=range][orient=vertical] {
        writing-mode: bt-lr; /* IE */
        -webkit-appearance: slider-vertical; /* WebKit */
        width: 30px;
        height: 300px;
        padding: 0 5px;
      }

      input[type=range] {
        width: 800px;
        height: 30px;
      }

      #video {
        background-color:#999999;
        width:800px;
        height:300px;
        float: left;
      }
    </style>
  </head>
  <body>
    <img id="video" src="{{ url_for('video_feed') }}">

    <input type="range" id="vertical" name="vertical" min="-50" max="50" orient="vertical">
    <input type="range" id="horizontal" name="horizontal" min="-50" max="50">

  </body>
  <script>
    var horizontal = 0;
    var vertical = 0;

    onRangeChange(document.getElementById('horizontal'), throttleEvents(handleHorizontal, 50));
    onRangeChange(document.getElementById('vertical'), throttleEvents(handleVertical, 50));

    function sendToFlask()
    {
        const xhr = new XMLHttpRequest();
        const data = new FormData();

        data.append("horizontal", horizontal);
        data.append("vertical", vertical);

        xhr.open("POST", "moveservos");
        xhr.send(data);
    }

    function handleHorizontal(event) {
      horizontal = event.target.value;
      sendToFlask();
    }

    function handleVertical(event) {
      vertical = event.target.value;
      sendToFlask()
    }

    function throttleEvents (callback, limit) {
      var waiting = false;                      // Initially, we're not waiting
      return function () {                      // We return a throttled function
        if (!waiting) {                       // If we're not waiting
          callback.apply(this, arguments);  // Execute users function
          waiting = true;                   // Prevent future invocations
          setTimeout(function () {          // After a period of time
            waiting = false;              // And allow future invocations
          }, limit);
        }
      }
    }

    //https://stackoverflow.com/questions/18544890/onchange-event-on-input-type-range-is-not-triggering-in-firefox-while-dragging
    function onRangeChange(r,f) {
      var n,c,m;
      r.addEventListener("input",function(e){n=1;c=e.target.value;if(c!=m)f(e);m=c;});
      r.addEventListener("change",function(e){if(!n)f(e);});
    }
  </script>
</html>
