<html>
  <body>
	  <button id="connectbtn" onclick="requestPermission()">Connect</button><br>

    <input type="range" id="channel1" name="channel1" min="-50" max="50">
    <label for="channel1">Channel 1</label>
    <div id="outputdiv"></div>
  </body>
  <script>
    var output = document.getElementById("outputdiv");
var btn = document.getElementById("connectbtn");
var socket = false;

var updown = 0;
var leftright = 0;

function sendToFlask()
{
    const xhr = new XMLHttpRequest();
    const data = new FormData();

    data.append("updown", updown);
    data.append("leftright", leftright);

    xhr.open("POST", "moveservos");
    xhr.send(data);
    output.innerHTML= "Channel 1: " + updown + "<br>Channel 2: " + leftright;
}

function handleRotation(event)
{
    updown = Math.round(event.gamma);
    leftright = Math.round(event.beta);
}

function requestPermission()
{
    if (typeof(DeviceMotionEvent) !== 'undefined' && typeof(DeviceMotionEvent.requestPermission) === 'function')
    {
        output.innerHTML = "iOS 13+ device";
        DeviceMotionEvent.requestPermission().
        then(response => {
            if (response === 'granted') {
                output.innerHTML = "iOS 13+ device (Permission granted)";
                window.addEventListener('deviceorientation', handleRotation);
            }
            else {
                output.innerHTML = "iOS 13+ device (Permission denied)";
            }
            finishRequest();
        }).catch(console.error);
    }
    else
    {
        //output.innerHTML = "Non-iOS 13 device";
        window.addEventListener('deviceorientation', handleRotation);
        finishRequest();
    }
}

function finishRequest()
{
    setInterval(sendToFlask, 250);
}

  </script>
</html>
